#jinja2:lstrip_blocks: True
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# yamllint disable rule:comments-indentation
conf:
  listen:
    host: "{{ dashboard_conf['listen']['host'] }}"
    port: {{ dashboard_conf['listen']['port'] }}

  {% if 'ssl' in dashboard_conf%}
  ssl:
    host: "{{ dashboard_conf['ssl']['host'] }}"
    port: {{ dashboard_conf['ssl']['port'] }}
    cert: "{{ dashboard_conf['ssl']['cert'] }}"
    key:  "{{ dashboard_conf['ssl']['key'] }}"
  {% endif %}
  allow_list:
  {% for ip in dashboard_conf['allow_list'] %}
    - {{ip}}
  {% endfor %}
  etcd:
    endpoints:
    {% for host in ansible_play_hosts_all %}
      - http://{{ hostvars[host]['ansible_'+private_nic_name]['ipv4']['address'] }}:2379
    {% endfor %}
    prefix: /apisix
  log:
    error_log:
      level: {{ dashboard_conf['log']['error_log']['level'] }}
      file_path: {{ dashboard_conf['log']['error_log']['file_path'] }}
    access_log:
      file_path: {{ dashboard_conf['log']['access_log']['file_path'] }}
  max_cpu: {{ dashboard_conf['max_cpu'] }}

authentication:
  secret: {{ dashboard_auth['secret'] }}
  expire_time: {{ dashboard_auth['expire_time'] }}
  users:
  {% for user in dashboard_auth['users'] %}
    - username: {{ user['username'] }}
      password: {{ user['password'] }}
  {% endfor %}

plugins:
{% for plugin in dashboard_plugins%}
  - {{plugin}}
{% endfor %}